body {
  margin: 0;
  overflow: hidden;
  user-select: none;

  background: url(../../../storage/wallpapers/leafs.jpg) no-repeat center fixed;
  background-size: cover;
}

.desktop {
  position: absolute;
  top: 0;
  bottom: 60px;
  left: 0;
  right: 0;
}